{% extends "organisations/base.html" %}

{% load i18n %}
{% load bootstrap from bootstrap %}
{% load volunteer_state from savanoriaitags %}


{% block content %}

<div class="row">
  <div class="col-md-9">
    <h3>{% trans "Savanoriai" %}</h3>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>{% trans "Savanoris" %}</th>
          <th>{% trans "Pamainos" %}</th>
          <th>{% trans "Vietos" %}</th>
          <th>{% trans "Patirtis" %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for volunteer in volunteers %}
        <tr>
          <td>{{ volunteer.user.get_full_name }}<br>{{ volunteer.user.email }}</td>
          <td>
            {% for shift in volunteer.shift.all %}
            {{ shift }}{% if not forloop.last %}<br>{% endif %}
            {% endfor %}
          </td>
          <td>
            {% for place in volunteer.places.all %}
            {{ place }}{% if not forloop.last %}<br>{% endif %}
            {% endfor %}
          </td>
          <td class="numeric">{{ volunteer.experience|default_if_none:'-' }}</td>
          <td class="table-row-actions">
            {% volunteer_state requirements.user.organisation volunteer %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if volunteers.paginator.num_pages > 1 %}
    <nav>
      <ul class="pagination">
        <li{% if not volunteers.has_previous %} class="disabled"{% endif %}>
          <a href="{% if volunteers.has_previous %}?page={{ volunteers.previous_page_number }}{% else %}#{% endif %}">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% for page in volunteers.paginator.page_range %}
        <li{% if volunteers.number == page %} class="active"{% endif %}>
          <a href="{% if volunteers.number == page %}#{% else %}?page={{ page }}{% endif %}">{{ page }}</a>
        </li>
        {% endfor %}
        <li{% if not volunteers.has_next %}  class="disabled"{% endif %}>
          <a href="{% if volunteers.has_next %}?page={{ volunteers.next_page_number }}{% else %}#{% endif %}">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    {% endif %}

  </div>
  <div class="col-md-3">
    <h3>{% trans "Filtras" %}</h3>
    <form id="volunteer_filter_form" method="get" action="{% url 'volunteers_list' %}">
      {{ filter|bootstrap }}
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">{% trans "Filtruoti" %}</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
