{% extends "base.html" %}

{% load i18n %}
{% load bootstrap from bootstrap %}


{% block content %}

<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <h3>{% trans "Registracija" %}</h3>

    <a class="btn btn-default btn-lg btn-block" href="{% url 'signup_volunteer' %}">{% trans "Savanoriams" %}</a>
    <a class="btn btn-default btn-lg btn-block" href="{% url 'signup_org' %}">{% trans "Organizacijoms" %}</a>

    <hr>

    <h3>{% trans "Prisijungimas" %}</h3>

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|bootstrap }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
        <a class="btn" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
